# Tugas Akhir NLP
## Senryuu Shounen
### Tahapan 1: Pre-processing

In [1]:
# Import modul

import pandas as pd
import numpy as np
import nltk
import re

In [14]:
raw_single_annotator = pd.read_csv("training_set/single_annotator.csv",delimiter=",")
raw_double_annotator_agree = pd.read_csv("training_set/double_annotator_agree.csv",delimiter=",")
raw_double_annotator_disagree = pd.read_csv("training_set/double_annotator_disagree.csv",delimiter=",")
raw_triple_annotator_agree = pd.read_csv("training_set/triple_annotator_agree.csv",delimiter=",")
raw_triple_annotator_disagree = pd.read_csv("training_set/triple_annotator_disagree.csv",delimiter=",")

In [15]:
raw_triple_annotator_disagree.head()

,kalimat_id,kata,sense,kalimat,freq
0,1000113,mengandung,2301,"Mengenai sendang bermata air tawar, penduduk s...",2
1,1000113,mengandung,2301,"Mengenai sendang bermata air tawar, penduduk s...",1
2,1000354,mengandung,2301,Osmofili ragi adalah salah satu organisme yang...,2
3,1000354,mengandung,2301,Osmofili ragi adalah salah satu organisme yang...,1
4,1000621,mengandung,2301,"Dia bertemu dengan Jill di bandara, meninggalk...",1

Lakukan normalisasi dan pembersihan pada data

In [5]:
def normalize(kalimat):
    kalimat = kalimat.lower() # Lower case     
    kalimat = re.sub('\s+', ' ', kalimat) # Hapus spasi ganda
    kalimat = kalimat.strip() # Hapus spasi di awal dan akhir     
    kalimat = re.sub(r'[^\w\s]','',kalimat) # Hapus tanda baca
    return kalimat

In [6]:
def remove_stopword(kalimat, kata):     
    stopwords = pd.read_csv("misc/stopwords.csv", header=None)  
    token = nltk.word_tokenize(kalimat)     
    token_afterremoval = []     
    for k in token:         
        if k not in stopwords[0].values or k == kata:             
            token_afterremoval.append(k)          
    str_clean = ' '.join(token_afterremoval)     
    return str_clean

In [7]:
def clean(df):
    for i in range(df.shape[0]):
        kalimat = df['kalimat'][i]
        kata = df['kata'][i]
        kalimat = normalize(kalimat)
        kalimat = remove_stopword(kalimat,kata)
        df.at[i,'kalimat'] = kalimat
    return df

In [8]:
clean_single_annotator = clean(raw_single_annotator)
clean_double_annotator_agree = clean(raw_double_annotator_agree)
clean_double_annotator_disagree = clean(raw_double_annotator_disagree)
clean_triple_annotator_agree = clean(raw_triple_annotator_agree)
clean_triple_annotator_disagree = clean(raw_triple_annotator_disagree)

In [9]:
clean_triple_annotator_disagree['kalimat'][0]

'sendang bermata air tawar penduduk menamainya sendang mberan sumbernya sendang mata air mengandung belerang dinamakan sendang gong jaman nenek moyang sumbernya ditutup gong'

In [10]:
clean_single_annotator.to_csv('training_clean/clean_single_annotator.csv')
clean_double_annotator_agree.to_csv('training_clean/clean_double_annotator_agree.csv')
clean_double_annotator_disagree.to_csv('training_clean/clean_double_annotator_disagree.csv')
clean_triple_annotator_agree.to_csv('training_clean/clean_triple_annotator_agree.csv')
clean_triple_annotator_disagree.to_csv('training_clean/clean_triple_annotator_disagree.csv')

Lakukan hal yang sama untuk kalimat testing

In [9]:
def clean_test(df):
    for i in range(df.shape[0]):
        kalimat = df['kalimat'][i]
        kata = df['word'][i]
        kalimat = normalize(kalimat)
        kalimat = remove_stopword(kalimat,kata)
        df.at[i,'kalimat'] = kalimat
    return df

In [17]:
raw_testing_data = pd.read_csv("testing_set/testing_data.csv",delimiter=",")
clean_testing_data = clean_test(raw_testing_data)
clean_testing_data.to_csv("testing_set/clean_testing_data.csv",index=False)

In [18]:
clean_testing_data.head()

    id   word                                            kalimat
0   13  asing  pecinta film indonesia tv asing mendengar namanya
1   19  asing  telinga asing aneh mendengar menu masakan soto...
2   41  asing  warga negara asing warga negara persemakmuran ...
3   44  asing  belas memerintah sultan mahmud menjalin kerja ...
4  121  asing  diikuti donatdonat waralaba asing master ring ...

In [12]:
raw_testing_data.head()

    id   word                                            kalimat
0   13  asing  pecinta film indonesia tv asing mendengar namanya
1   19  asing  telinga asing aneh mendengar menu masakan soto...
2   41  asing  warga negara asing warga negara persemakmuran ...
3   44  asing  belas memerintah sultan mahmud menjalin kerja ...
4  121  asing  diikuti donatdonat waralaba asing master ring ...